$navyblue: #0c192d;
$darknavyblue: #061120;
$green: #90fcdc;
$skyblue: #cdd6f4;
$white: #fff;

$arimo: 'Arimo', sans-serif;
$opensans: 'Open Sans', sans-serif;

$fontRegular: 400;
$fontSemiBold: 600;
$fontBold: 700;

