@import "./../../styles/variables";
@import "./../../styles/global";
// @import "./../../styles/functions";

.footer {
  width: 100%;
  margin-block-end: 30px;
  background: rgb(246, 232, 255);
  background: linear-gradient(
    144deg,
    rgba(246, 232, 255, 1) 0%,
    rgba(236, 248, 255, 1) 58%,
    rgba(194, 255, 192, 1) 100%
  );
  border-radius: 20px !important;
  &__cta {
    padding-top: 50px;
  }
  &__cta__icons ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__credit {
    padding-top: 30px;
    font-size: 12px;
    font-weight: 500;
  }
}
