@import "./../../styles/variables";
@import "./../../styles/global";
// @import "./../../styles/functions";

.hero {
  min-height: 100vh;
  padding-top: 100px;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  &-row {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  &__left {
    width: 100%;
    background: rgb(246, 232, 255);
    background: linear-gradient(
      144deg,
      rgba(246, 232, 255, 1) 0%,
      rgba(236, 248, 255, 1) 58%,
      rgba(194, 255, 192, 1) 100%
    );
    border-radius: 20px !important;
    min-height: 85vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: drop 1.5s ease;
    &__title {
      color: $textColor;
      font-weight: $fontBold;
    }
    &__subtitle {
      color: $textColor;
      font-size: 18apx;
    }
    &__cta {
      display: block;
      flex-direction: row;
    }
  }
  &__right img {
    border-radius: 20px !important;
    object-fit: cover;
    width: 100%;
    height: 85vh;
    animation: rise 1.5s ease;
  }
}






@media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 991px) {
  
  
  .hero__left {
    display: block;
    min-height: 100px;
    padding: 30px;
  }
  .hero__right img {
    height: 60vh;
    object-position: top;
  }

  .hero__left__title,
  .hero__left__subtitle {
    padding-bottom: 20px;
  }

  .hero__left__title {
    font-size: 20px;
  }

  .hero__left__subtitle {
    font-size: 16px;
  }

  .hero__left__cta {
    display: inline-block;
    padding-top: 20px;
  }
}

// 
