@import "./../../styles/variables";
@import "./../../styles/global";
// @import "./../../styles/functions";

.work {
  margin-block: 30px;
  position: relative;
  &-col {
    position: relative;
    animation: rise 2s ease;
  }
  &-col img {
    width: 100%;
    height: 65vh;
    border-radius: 20px;
    object-fit: cover;
    display: flex;
    text-align: center;
    opacity: .8;
  }
  &-col:hover img {
    opacity: 1;
    transition: 300ms ease-in-out;
  }
  &-col__title {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 3;
  }
  &-col__subtitle {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 50px;
    right: 0;
    color: $white;
    font-family: $arimo;
    font-weight: 700;
  }
}

@media only screen and (max-width: 768px) {
  .work-col img {
    height: 50vh;
  }
}
